In [1]:
real_estate_data = [
    {'property id': 1, 'property_type':'Apartment', 'size_sqft':1200,'location':"Downtown",'bedrooms':2,'price_usd':250000},
    {'property id': 2, 'property_type':'House', 'size_sqft':2000,'location':"Suburb",'bedrooms':3,'price_usd':350000},
    {'property id': 3, 'property_type':'Apartment', 'size_sqft':800,'location':"Uptown",'bedrooms':1,'price_usd':150000},
    {'property id': 4, 'property_type':'Condo', 'size_sqft':1500,'location':"Downtown",'bedrooms':2,'price_usd':300000},
    {'property id': 5, 'property_type':'House', 'size_sqft':1800,'location':"Suburb",'bedrooms':4,'price_usd':400000},
]

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(real_estate_data)

In [5]:
df

   property id property_type  size_sqft  location  bedrooms  price_usd
0            1     Apartment       1200  Downtown         2     250000
1            2         House       2000    Suburb         3     350000
2            3     Apartment        800    Uptown         1     150000
3            4         Condo       1500  Downtown         2     300000
4            5         House       1800    Suburb         4     400000

# 1

In [55]:
average_size = df["size_sqft"].mean()
print(f"Average_size of the properties is {average_size} sqft")

Average_size of the properties is 1460.0 sqft

# 2

In [16]:
down_town = df[df["location"] == "Downtown"]
print(f"Downtown properties are given below  \n {down_town}")

Downtown properties are given below
    property id property_type  size_sqft  location  bedrooms  price_usd
0            1     Apartment       1200  Downtown         2     250000
3            4         Condo       1500  Downtown         2     300000

# 3

In [19]:
h3l = df[df["price_usd"] > 300000]
print(f"Properties with more than 3Lac$ given below  \n {h3l}")

Properties with more than 3Lac$ given below
    property id property_type  size_sqft location  bedrooms  price_usd
1            2         House       2000   Suburb         3     350000
4            5         House       1800   Suburb         4     400000

# 4

In [32]:
df.dtypes

property id       int64
property_type    object
size_sqft         int64
location         object
bedrooms          int64
price_usd         int64
dtype: object

# 5

In [22]:
Ab2l = df[(df["property_type"]=="Apartment") & (df["price_usd"] < 200000)]
print(f"Apartment of below 2 Lac$ are given below  \n {Ab2l}")

Apartment of below 2 Lac$ given below
    property id property_type  size_sqft location  bedrooms  price_usd
2            3     Apartment        800   Uptown         1     150000

# 6

In [25]:
sgt18k = df[df["size_sqft"] > 1800]
print(f"House greater than 1800 sqft are given below  \n {sgt18k}")

House greater than 1800 sqft are given below
    property id property_type  size_sqft location  bedrooms  price_usd
1            2         House       2000   Suburb         3     350000

# 7

In [54]:
avg_price= (df.price_usd/df.size_sqft).sum()/len(df.price_usd)
print(f"Average price of all properties are  {avg_price} usd")

Average price of all properties are  198.61111111111114 usd

# 8

In [30]:
df["bedrooms"].dtype

dtype('int64')

# 9

In [33]:
p3bb3l = df[(df["bedrooms"]==3) & (df["price_usd"] < 300000)]
print(f"Proerties of below 3 Lac$ with 3 bedroomsare given below  \n {p3bb3l}")

Proerties of below 3 Lac$ with 3 bedroomsare given below
 Empty DataFrame
Columns: [property id, property_type, size_sqft, location, bedrooms, price_usd]
Index: []

In [34]:
print("no property")

no property

# 10

In [59]:
def cat(x):
    if x >= 1200:
        return "Small"
    elif x < 1800:
        return "Medium"
    else:
        return "Big"

In [61]:
df["category"] = df["size_sqft"].apply(cat).astype("category")
df

,property id,property_type,size_sqft,location,bedrooms,price_usd,category
0,1,Apartment,1200,Downtown,2,250000,Small
1,2,House,2000,Suburb,3,350000,Small
2,3,Apartment,800,Uptown,1,150000,Medium
3,4,Condo,1500,Downtown,2,300000,Small
4,5,House,1800,Suburb,4,400000,Small